<!DOCTYPE html>
<html>
<head>
<title>Vietvoice</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta property="og:title" content="Vietvoice" />
<meta property="og:image" content="https://s5.postimg.org/p4ql5r6zb/logo_square.jpg" />
<meta property="og:image:secure_url" content="https://s5.postimg.org/p4ql5r6zb/logo_square.jpg" />
<meta property="og:description" content="Kiểm duyệt độ chính xác của nhận dạng giọng nói" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/scroll.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="main">	
	<div class="main-content">			
		<img src="https://s5.postimg.org/fmrccmeqf/147540210527913.gif" class="img-responsive">
	</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
<script src="https://npmcdn.com/react@15.3.0/dist/react.min.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js"></script>
<script src="js/autogrow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script src="js/react.js" type="text/babel"></script>
</body>
</html>
